<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Tutorial Link di HTML</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">  
    </head>
    <body>
      <h3>Apa itu BiT</h3>
        <p><b>Bit (b): Satu bit adalah unit data terkecil yang dapat bernilai 0 atau 1. Kecepatan transfer data sering diukur dalam "bit per detik" (bps), di mana kecepatan 1 megabit per detik (1 Mbps) setara dengan 1.000.000 bit per detik.</p>

          Byte (B): Satu byte terdiri dari 8 bit. Ketika kita mengukur kecepatan transfer dalam byte per detik, istilah yang sering digunakan adalah "byte per detik" (Bps) atau "octet per detik." Kecepatan ini umumnya digunakan untuk mengukur kecepatan transfer data di dalam komputer.</p>
          
          Kilobit (Kb): Satu kilobit setara dengan 1.000 bit. Kecepatan internet sering diukur dalam kilobit per detik (Kbps).</p>
          
          Kilobyte (KB): Satu kilobyte setara dengan 1.000 byte. Jika kecepatan diukur dalam kilobyte per detik (KBps), ini mengindikasikan jumlah byte data yang dapat diunduh setiap detik.</p>
          
          Megabit (Mb): Satu megabit setara dengan 1.000 kilobit atau 1.000.000 bit. Kecepatan internet yang lebih tinggi sering diukur dalam megabit per detik (Mbps).</p>
          
          Megabyte (MB): Satu megabyte setara dengan 1.000 kilobyte atau 1.000.000 byte. Kecepatan unduh diukur dalam megabyte per detik (MBps) dapat memberikan gambaran tentang seberapa cepat data dapat diunduh dalam bentuk file yang lebih besar.</p>
        <p>
          <a href="{{'/'}}" button type="button"><button id="about-button">Kembali</button></a>
        </p>
    </body>
</html>